<!DOCTYPE html>
<html>
<head>
    <title>Lesson and Attendance</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
 <!-- 커스텀 CSS -->
 <style>
    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 48px,1rem;
      background-color: #f8f9fa;
    }
  .option {
    background-color: lightblue;
  }
    .sidebar-sticky {
      position: -webkit-sticky; /* For Safari */
      position: sticky; 
      top:48px; 
    }
    
    .nav-link.active {
        font-weight:bold; 
    }
    
   /* Add this to make the navbar vertical */
   @media (min-width:768px){
     .sidebar{
       width:auto !important;
     }
   }

    #hiddenTooltip {
        background-color: lightblue; /* Set the background color to highlight */
        padding: 10px; /* Add some padding to make the highlight more visible */
        display: block; /* Ensure the div is displayed */
    }

  </style>    
  <!-- Bootstrap Datepicker CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"> 
</head>
<body>
    <div class="container-fluid">
        <div class="row">
          <nav id ="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
              <ul class= "nav flex-column">    
                <li>
                  <a class = "navbar-brand" href="/">홈으로</a>
                </li>
           
                <li class="{% if 'student_list' in currentPage %}active{% endif %}">
                    <a class = "navbar-brand" href="student_list.html">학생 정보  </a>
                </li>
                
                <li class="{% if 'subject_list' in currentPage %}active{% endif %}">
                    <a class = "navbar-brand" href="subject_list.html">과정 정보  </a>
                </li>
                
                <li class="{% if 'subject_list_detail' in currentPage %}active{% endif %}">
                    <a class = "navbar-brand" href="subject_list_detail.html">과정 상세  </a>
                </li>
                
                <li class="{% if 'lesson_list' in currentPage %}active{% endif %}">
                    <a class = "navbar-brand" href="lesson_list.html">수업 리스트</a>
                </li>
                <li class="{% if 'lesson_list' in currentPage %}active{% endif %}">
                  <a class = "navbar-brand" href="lesson_report.html">수업 레포트</a>
                </li>
              </ul> 
            </div> 
          </nav>
      </div>
    </div>  
<div class="container mt-5">
    <h1 class="mb-4">수업 기록 등록</h1>

    <!-- Lesson Form -->
    <form id="lessonForm" method="POST">
        <div class="form-group">
          <div style="display: flex;">
              <div style="flex: 2;">
                <label for= "lessonDatePicker">수업일자</label>
                <input type= "text" class= "form-control datepicker-input" id= "lessonDatePicker">
              </div>
              <div style="flex: 2;">
                  <label for='studentId'>학생:</label>
                  <input list='students' id='studentId' name='student_id' class='form-control'>
                  <datalist id='students'></datalist>
                  학년: <span id='gradeLevel'></span><br/>
              </div>
              <div style="flex: 6;">
                  <label for='subjectDetailId'>상세 과정:</label>
                  <input list='subjects' id='subjectDetailId' name='subject_detail_id' class='form-control'>
                  <datalist id='subjects'></datalist>
              </div>
          </div>
        </div>
        <div>    
             <!-- Input fields for lesson details, teacher comments and etc -->
             수업 내용 (최근 동일 상세과정 5건이 작성가이드로 표시됩니다.):
             <div id="hiddenTooltip" style="display: none; height: 200px; overflow-y: scroll;" ></div>
            <textarea name= 'lesson_detail' rows = "5" class = "form-control"></textarea><br/>
             교사 지도:
            <textarea name= 'teach_comment' rows = "5" class = "form-control"></textarea><br/>
              기타사항:
            <textarea name= 'etc' rows = "5" class = "form-control"></textarea><br/>
        </div> 
        <div class= "button-container text-right mt-3">
          <!-- Submit button for the form -->
            <button type=submit class ="btn btn-primary">등록</button> 
        </div>
   </form>
<!-- jQuery and Bootstrap.js -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Custom JavaScript -->
<script src="/static/lesson.js"></script>

<!-- DatetimePicker -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ko.min.js"></script>

<script>
  $(document).ready(function() {
      // 시작일자와 종료일자를 선택할 수 있는 date time picker 초기화
      var lessonDatePicker = $('#lessonDatePicker').datepicker({
        format: 'yyyy-mm-dd', // 날짜 형식 설정
        autoclose: true, // 선택 시 자동으로 닫힘 
        todayHighlight: true, // 오늘 날짜 강조 표시 
        startDate: '2000-01-01', // 시작 가능한 최소 날짜
        endDate: new Date(), // 종료 가능한 최대 날짜
        language: 'ko' // 한국어로 설정 (language 사용)
      }).on('show', function(e) {
          var datePicker = $(this).data('datepicker');
          var tableBody = datePicker.picker.find('.datepicker-days tbody');
  
          tableBody.on('mouseenter', 'td.day:not(.disabled)', function() {
              $(this).addClass('hover');
          });
  
          tableBody.on('mouseleave', 'td.day:not(.disabled)', function() {
              $(this).removeClass('hover');
          });
      });
    // 종료일자에 현재 일자 설정
    var currentDate = moment().format('YYYY-MM-DD');
    
    lessonDatePicker.datepicker("setDate", currentDate);

     $('#lessonDatePicker').val(currentDate);
    });
</script>

</body></html>
