<!DOCTYPE html>
<html>
<head>
    <title>수업 기록 수정</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 <!-- 커스텀 CSS -->
 <style>
    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 48px,1rem;
      background-color: #f8f9fa;
    }
  
    .sidebar-sticky {
      position: -webkit-sticky; /* For Safari */
      position: sticky; 
      top:48px; 
    }
    
    .nav-link.active {
        font-weight:bold; 
    }
    
   /* Add this to make the navbar vertical */
   @media (min-width:768px){
     .sidebar{
       width:auto !important;
     }
   }
  </style>     
   <!-- Bootstrap Datepicker CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"> 

</head>
<body>
    <div class="container-fluid">
        <div class="row">
          <nav id ="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
              <ul class= "nav flex-column">    
                <li>
                  <a class = "navbar-brand" href="/">홈으로</a>
                </li>
           
                <li class="{% if 'student_list' in currentPage %}active{% endif %}">
                    <a class = "navbar-brand" href="/student_list.html">학생 정보  </a>
                </li>
                
                <li class="{% if 'subject_list' in currentPage %}active{% endif %}">
                    <a class = "navbar-brand" href="/subject_list.html">과정 정보  </a>
                </li>
                
                <li class="{% if 'subject_list_detail' in currentPage %}active{% endif %}">
                    <a class = "navbar-brand" href="/subject_list_detail.html">과정 상세  </a>
                </li>
                
                <li class="{% if 'lesson_list' in currentPage %}active{% endif %}">
                    <a class = "navbar-brand" href="/lesson_list.html">수업 리스트</a>
                </li>
                <li class="{% if 'lesson_list' in currentPage %}active{% endif %}">
                  <a class = "navbar-brand" href="/lesson_report.html">수업 레포트</a>
                </li>
              </ul> 
            </div> 
          </nav>
      </div>
    </div>  
<div class="container mt-5">
    <h1 class="mb-4">수업 기록 수정</h1>

    <!-- Lesson Form -->
    <form>
        <div class="form-group">
          <div style="display: flex;">
        <!--    <div style="flex: 2;">
              <label for='studentId'>학생:</label>
              <input type='text' id='student_name' name='student_name' class='form-control' value="{{ student_name }}" readonly> 
              학년: <span id='gradeLevel'></span><br/>
            </div>
          -->
          <div style="flex: 2;">
            <label for= "lessonDatePicker">수업일자</label>
            <input type= "text" class= "form-control datepicker-input" id= "lessonDatePicker">
          </div>
            <div style="flex: 2;">
              <label for="teach_id">담당교사</label>
              <select class="form-control" id="teach_id">
                  <option value="김선희">김선희</option> <!-- Assuming 'a' stands for Teacher Kim -->
                  <option value="이용훈">이용훈</option> <!-- Assuming 'b' stands for Teacher Lee -->
                  <option value="우창기">우창기</option> <!-- Assuming 'c' stands for Teacher Park -->
                  <option value="정미숙">정미숙</option> <!-- Assuming 'd' stands for Teacher Choi -->
                  <option value="조혜진">조혜진</option> <!-- Assuming 'e' stands for Teacher Jung -->
              </select>
            </div>
            <div style="flex: 6;">
              <label for='subjectDetailId'>상세 과정:</label>
              <select id='subjectDetailId' name='subject_detail_id' class='form-control'></select> 
              과정: <span id='subjectName'></span><br/>
            </div>
          </div>
            

             <!-- Input fields for lesson details, teacher comments and etc -->
             수업 내용:
             <textarea id = 'lesson_detail' name= 'lesson_detail' rows = "5" class = "form-control"></textarea><br/>
     
             교사 메모:
             <textarea id = 'teach_comment' name= 'teach_comment' rows = "5" class = "form-control"></textarea><br/>
     
             기타사항:
             <textarea id ='etc' name= 'etc' rows = "5" class = "form-control"></textarea><br/>
        </div> 
      </form>
        <div class = "button-container text-right mt-3"> 
          <button onclick="deleteLesson()" class='btn btn-danger'>삭제</button>
          
          <button onclick ="submitForm('update')"class='btn btn-primary'>수정</button>
        </div>
   

<!-- jQuery and Bootstrap.js -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ko.min.js"></script>

<!-- Custom JavaScript -->
<!-- 추가된 부분 시작 -->
<script type="text/javascript">
  $(document).ready(function() {
    // 시작일자와 종료일자를 선택할 수 있는 date time picker 초기화
    var lessonDatePicker = $('#lessonDatePicker').datepicker({
      format: 'yyyy-mm-dd', // 날짜 형식 설정
      autoclose: true, // 선택 시 자동으로 닫힘 
      todayHighlight: true, // 오늘 날짜 강조 표시 
      startDate: '2000-01-01', // 시작 가능한 최소 날짜
      endDate: new Date(), // 종료 가능한 최대 날짜
      language: 'ko' // 한국어로 설정 (language 사용)
    }).on('show', function(e) {
        var datePicker = $(this).data('datepicker');
        var tableBody = datePicker.picker.find('.datepicker-days tbody');

        tableBody.on('mouseenter', 'td.day:not(.disabled)', function() {
            $(this).addClass('hover');
        });

        tableBody.on('mouseleave', 'td.day:not(.disabled)', function() {
            $(this).removeClass('hover');
        });
    });
// 수업일자 가지고 오기
var lesson_date = '{{ lesson_date }}';

lessonDatePicker.datepicker("setDate", lesson_date);
   
  });

    // 상세 과정 옵션 박스에 값 채우기
    var subjectDetailSelect = document.getElementById('subjectDetailId');
    {% for subject in subject_detail %}
    var option = document.createElement("option");
    option.value = '{{ subject.subject_detail_id }}';
    option.text = '{{ subject.subject_name }} {{ subject.detail_script }} {{subject.level}}';
  
    // 현재 선택된 항목인 경우 selected 속성 추가
    if ('{{ subject.subject_detail_id }}' === '{{ lesson_detail.subject_detail_id }}') {
        option.selected = true;
    }
  
    subjectDetailSelect.appendChild(option);
    {% endfor %}
  // history.pushState({}, '', '/lesson_update');
  // JavaScript 코드를 사용하여 값 채우기
  var lessonDetail = `{{ lesson_detail.lesson_detail|replace('<br>', '\n') }}`;
  var teachComment = `{{ lesson_detail.teach_comment|replace('<br>', '\n') }}`;
  var etc = `{{ lesson_detail.etc|replace('<br>', '\n') }}`;
  var teach_id = `{{ lesson_detail.teach_id }}`;

  document.getElementById('teach_id').value = teach_id;
  document.getElementById('lesson_detail').value = lessonDetail;
  document.getElementById('teach_comment').value = teachComment;
  document.getElementById('etc').value = etc;



;
  </script>
  
<script src="/static/lesson_update.js"></script>

</body></html>
