<!DOCTYPE html>
<html>
<head>
  <title>과정 상세 정보</title>

  <!-- 부트스트랩 CSS 추가 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- 커스텀 CSS -->
<style>
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 48px,1rem;
    background-color: #f8f9fa;
  }

  .sidebar-sticky {
    position: -webkit-sticky; /* For Safari */
    position: sticky; 
    top:48px; 
  }
  
  .nav-link.active {
      font-weight:bold; 
  }
  
 /* Add this to make the navbar vertical */
 @media (min-width:768px){
   .sidebar{
     width:auto !important;
   }
 }

</style>    
</head>

<body class="bg-light">
  <div class="container-fluid">
    <div class="row">
      <nav id ="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
          <ul class= "nav flex-column">    
            <li>
              <a class = "navbar-brand" href="/">홈으로</a>
            </li>
       
            <li class="{% if 'student_list' in currentPage %}active{% endif %}">
                <a class = "navbar-brand" href="student_list.html">학생 정보  </a>
            </li>
            
            <li class="{% if 'subject_list' in currentPage %}active{% endif %}">
                <a class = "navbar-brand" href="subject_list.html">과정 정보  </a>
            </li>
            
            <li class="{% if 'subject_list_detail' in currentPage %}active{% endif %}">
                <a class = "navbar-brand" href="subject_list_detail.html">과정 상세  </a>
            </li>
            
            <li class="{% if 'lesson_list' in currentPage %}active{% endif %}">
                <a class = "navbar-brand" href="lesson_list.html">수업 리스트</a>
            </li>

          </ul> 
        </div> 
      </nav>
  </div>
</div>    
<div class="container py-5">
   <h2>과정 상세 정보 등록</h2>

   <!-- Create Form -->
   <div id="create-form" class="mt-4">

    <label for="subject-name">과정:</label>
    <select id="subject-name" name="subject-name" class='form-control'>
      {% for subject in subjects %}
          <option value="{{ subject.subject_id }}">{{ subject.name }}</option>
      {% endfor %}
    </select>
    
    <label for="detail_script">과정 설명:</label>
    <input type="text" id="detail_script" name="detail_script" value="" class='form-control'>
    
    <label for="level">레벨:</label>
    <select id="level" name="level" class='form-control'>
      <option value="">-- 선택 --</option>
      {% for i in range(1, 13) %}
          <option value="{{ i }}">{{ i }}</option> 
      {% endfor %}
    </select>  
      
     </div>

     <!-- Submit button -->

	<div class = "button-container text-right mt-3">

<!-- 등록 버튼 -->
<button onclick ="submitForm('create')"class='btn btn-success'>Create</button>


   </div>

<script src="/static/subject_detail.js"></script>

<!-- 과목 상세 정보를 처리하는 서버 API 호출 등의 JavaScript 코드 추가 가능 -->

<!-- 부트스트랩 JS 추가 (부트스트랩의 일부 기능을 위해 필요) -->
<script src= "https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body></html>


